body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 40px;
}
ol {
   counter-reset: 5;
}
li a {
    text-decoration: none;
    font-size: 21px;
    color: rgb(97, 59, 12);
}
li a:hover {
    text-decoration: line-through;
    color: black;
}