body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-list-childs {
    color: red;
    font-size: 30px;
}
.order-b-list-child-list {
    color: green;
    font-size: 25px;
}
.b2a-childs-unorderlist {
    color: rgb(99, 23, 80);
    font-size: 20px;
}
.b3-childs {
    color: blueviolet;
    font-size: 25px;
}
.order-list-first-list-child-b .first-list-child-b-order-list {
    color: blue;
    font-size: 25px;
}